header {
    background-color: indigo;
    color: coral;
    text-align: center;
}

body {
    margin: 0;
    background-image: url('record.png');
    background-repeat: repeat;
}

main {
    background-color: lightgray;
    padding: 1em;
}